.formulario { 

    
    overflow: hidden ; 
    margin: 5px auto;
    background: #ffffff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    padding: 1px; 
    max-width: 40em ;
    border-radius: 10px;
  }
  
  .formulario .title { 
  
    width: 100%; 
    float:left; 
    margin-bottom:1px; 
    font-size:1.5em; 
    font-weight: 300; 
    text-align: left; 
    border-bottom: 1px #eceaea solid; 
    padding-bottom: 1em;
    color: #0a0a0a; 
  
  }
  
  .formulario p { color: #7a8078; 
    font-size: 1em;
    width: 100%;
    float: left; 
    margin-bottom: 20px; }
  
  
  .formulario .label { 
     
    width:100%;
    float:left; 
    margin-bottom:10px;
    
  }
  
  .formulario .label span { 
  
    width: 100%; 
    float: left;
    color: #0f0f0f;
    margin-bottom: 3px; 
  
  }
  
  .formulario .campo {
  
    color: #000000;
    font-family: 'open_sansregular';
    font-size: 16px;
    border-radius: 3px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid #000000;
    transition: all 0.3s;
    padding: 11px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  
  }
  
  .formulario .campo:focus { 
  
      border: 2px solid #0a0a0a; 
      color: #0a0a0a;
  }
  
  .formulario textarea {
    
    height: 130px;
    line-height: 130%;
    resize:vertical;
  
  }
  
  .formulario .botao {
  
    font-family: 'open_sansregular';
    width: 100%;
    background:#00ABFF;
    color: #000000;
    border-radius:5px;
    border:0;
    cursor:pointer;
    font-size:22px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  
  }
  
  .formulario .botao:hover { background:#808080; }

  .naoexibir { display:none; }

  select{
    color: #000000;
    font-family: 'open_sansregular';
    font-size: 16px;
    border-radius: 3px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid #000000;
    transition: all 0.3s;
    padding: 11px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  

  }

  /* ----------------------------------------------------------------------------------------------------- */

/* Rodapé */
footer {
  background-color: #9e9e9e;
  padding: 5px 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #554e4e;
  text-decoration: none;
}

a:hover {
  color: #333;
}
/* ----------------------------------------------------------------------------------------- */
